body{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

@font-face {
    font-family: 'GillSans';
    src: url('./Assets/fonts/GillSans.ttc') format('truetype'); /* Specify the path to your font file */
    /* You can include other font properties here, such as font-weight or font-style */
}
@font-face {
    font-family: 'DINCondensedBold';
    src: url('./Assets/fonts/DINCondensedBold.ttf') format('truetype');
    /* Other font properties */
}

.CF{
    font-family: 'GillSans', sans-serif; /* Use the custom font */
}
.DF{
    font-family: 'DINCondensedBold', sans-serif;
    
}





